body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF9F9;
  font-family: "Urbanist", serif;
}

code {
  font-family: "Urbanist", serif;
}
